---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { globalVars } from '../../i18n/utils';
const pageTitle = "Outil d'evaluation de prejudice";
const lang = "fr";
---

<BaseLayout pageTitle={globalVars.siteTitle.fr} lang={lang}>

	<gcds-container size="xl" padding="400" centered="true">
		<gcds-heading tag="h1">
			{pageTitle}
		</gcds-heading>

        <gcds-text size="caption" character-limit="false">
            <p>Version fran&ccedil;aise pas encore faites...</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quibusdam aliquid expedita tempore, hic magnam sint voluptas inventore atque architecto modi nemo animi nisi numquam cumque consectetur possimus? Excepturi, officia.</p>
        </gcds-text>

	</gcds-container>
</BaseLayout>