---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { globalVars } from '../../i18n/utils';
import ClassTool from '../../components/vuejs/ClassificationTool.vue';

const pageTitle = "Information Classification Tool";
const lang = "en";
---

<BaseLayout pageTitle={globalVars.siteTitle.en} lang={lang}>

	<gcds-container size="xl" padding="400" centered="true">
		<gcds-heading tag="h1">
			TEST TEST {pageTitle}
		</gcds-heading>

        <gcds-text size="caption" character-limit="false">
            
            <p>There are 3 main security classifications:</p>
            <ul>
                <li>
                    <strong>Unclassified: </strong>
                    <span>information that would not cause any injury.</span>
                </li>
                <li>
                    <strong>Protected: </strong>
                    <span>information that, if compromised, could cause injury to a <i>non-national</i> interest (e.g., private or business).</span>
                </li>
                <li>
                    <strong>Classified: </strong>
                    <span>information that, if compromised, could cause injury to a <i>national</i> interest (e.g., defence, maintenance of the social, political, and economic stability of Canada).</span>
                </li>                
            </ul>

        </gcds-text>

        <ClassTool client:load />
	</gcds-container>
</BaseLayout>