---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { globalVars } from '../../i18n/utils';
const pageTitle = "Injury Assessment Tool";
const lang = "en";
---

<BaseLayout pageTitle={globalVars.siteTitle.en} lang={lang}>

	<gcds-container size="xl" padding="400" centered="true">
		<gcds-heading tag="h1">
			{pageTitle}
		</gcds-heading>

        <gcds-text size="caption" character-limit="false">
            
            <p>This site is designed to help government of Canada employees apply the appropriate security classification to information and assets.</p>

            <p><strong>Information Security Classification</strong> is the application of a security level to sensitive information or assets that indicates the protective measures needed to keep information secure. Security Classification is assessed based on the degree of injury that could result from compromise of confidentiality, availability, integrity, or value of information.</p>

            <p><strong>Note:</strong> A security classification does not guarantee that information will not be released in response to an ATIP request.</p>

        </gcds-text>

		<gcds-details details-title="Types of Security Classifications">
            <gcds-text size="caption" character-limit="false"> 
                <ul>
                    <li><strong>Unclassified</strong> applies to information that would not cause any injury and does not need safeguarding.</li>
        
                    <li><strong>Protected A</strong> applies to information with low sensitivity that, if compromised, may cause minimal injury, usually of a personal or commercial nature.</li>

                    <li><strong>Protected B</strong> applies to particularly sensitive information that, if compromised, could cause serious injury to an individual, organization, or government (non-national interest).</li>

                    <li><strong>Protected C</strong> applies to extremely sensitive information that, if compromised, could cause grave injury to an individual, organization, or government (non-national interest). </li>

                    <li><strong>Confidential</strong> applies to information that, if compromised, could cause injury to the national interest.  </li>

                    <li><strong>Secret</strong> applies to information that, if compromised, could cause serious injury to the national interest. </li>

                    <li><strong>Top Secret </strong> applies to information that, if compromised, could cause grave injury to the national interest.</li>
                </ul>           
                <p><strong>Note:</strong> National Interest is related to the defence of Canada or an allied nation, and to Canadian economic, social and political stability. </p>

                <p><a href="./classification">Click here</a> to learn more about how to manage information based on their security classification.</p>
            </gcds-text>		    
		</gcds-details>	

        <p>&nbsp;</p>
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ex incidunt minus amet ullam sed, ad aspernatur soluta nihil at, porro itaque doloremque quisquam. Ad eligendi vel veniam delectus explicabo.
        
	</gcds-container>
</BaseLayout>