---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { globalVars } from '../../i18n/utils';
const pageTitle = "Injury Assessment Tool";
const lang = "en";
---

<BaseLayout pageTitle={globalVars.siteTitle.en} lang={lang}>

	<gcds-container size="xl" padding="400" centered="true">
		<gcds-heading tag="h1">
			{pageTitle}
		</gcds-heading>

        <gcds-text size="caption" character-limit="false">
            
            <p>This site is designed to help government of Canada employees apply the appropriate security classification to information and assets.</p>

            <p><strong>The Injury Assessment Tool is not yet finished...</strong></p>

        </gcds-text>


        <p>&nbsp;</p>
        <gcds-text character-limit="false"> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ex incidunt minus amet ullam sed, ad aspernatur soluta nihil at, porro itaque doloremque quisquam. Ad eligendi vel veniam delectus explicabo.
        </gcds-text>
        <p>&nbsp;</p>
        <gcds-text character-limit="false"> 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid tempora sequi, excepturi ex esse sint voluptas alias ut dolorum optio.
        </gcds-text>
	</gcds-container>
</BaseLayout>